.box
{
  display: flex;
  box-sizing: border-box;
}

.box.left
{
  justify-content: flex-start;
}

.box.right
{
  justify-content: flex-end;
}

.box.justify
{
  justify-content: space-between;
}

.box.top
{
  align-items: flex-start;
}

.box.middle
{
  align-items: center;
}

.box.bottom
{
  align-items: flex-end;
}

.box.full
{
  align-items: stretch;
}
